body {
  font-family: Comfortaa;
  text-align: center;
  margin: 20px;
}
div {
  text-align: center;
  margin: 20px;
}
input {
  border-radius: 5px;
  border-color: #000;
}
.btn {
  border-radius: 4px;
  position: relative;
  display: none;
}
.options {
  position: absolute;
}
.show {
  display: inline;
}
.text {
  font-size: large;
  margin: 5px;
}
.hide {
  display: none;
}
#generate {
  font-family: Comfortaa;
  font-weight: bold;
  margin: 20px;
  padding: 10px;
  border-radius: 5px;
  background-color: bisque;
}
